body{
/*
Image you want to add make sure it's in image path. Also change it proper name.
If that doesn't work make sure to have a proper format like .jpg or .png
*/
background: #ebe6de url(../image/example.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
